body {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("https://wallpapercave.com/wp/BQYb4Cl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.arrow-back{
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: 1rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    width: 50px;
    height: 30px;
    margin-left: 20px;
}

.content{
    display: flex;
    justify-content: center;
    max-width: 1440px;
    padding: 20px;
    gap: 50px;
}

.content .details{
    max-height: 15rem;
}

.content .details .basic{
    height: 15rem;
    width: 15rem;
    border-radius: 25px;
    position: relative;
}

.content .details .basic .name{
    padding: .625rem;
    margin: .625rem;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
}

.content .details .basic .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: 1rem;
    margin: .625rem;
}

.content .details .basic .types{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: .625rem;
    gap: 1rem;
    list-style: none;
    color: #fff;
    justify-content: left;

}
.content .details .basic .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.content .details .basic .img{
    width: clamp(40%, 5vw, 50%);
    position: absolute;
    top: 55%;
    left: 30%;
    z-index: 2;
}

.content .details .menu_items{
    background-color: #f6f8fc;
    height: 90%;
    width: 100%;
    position: relative;
    border-radius: 30px;
    bottom: 18%;
}

.content .details .menu_items .skills{
    position: absolute;
    color: rgb(68, 68, 68);
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    left: 20px;
    width: 80%;
    text-align: center;
}

.content .details .menu_items .atributes{
    padding: 50px 20px 40px;
    margin: 0;
}

.content .details .menu_items .span-details{
    display: flex;
    justify-content: space-between;
    color: rgb(170, 170, 170);
    font-size: 15px;
}

#species{
    text-transform: capitalize;
}

#abilities{
    text-transform: capitalize;
}

@media screen and (max-width: 700px) {

    .content{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .details{
        height: 500px;
    }

}